.SignIn {
  background-color: whitesmoke;
  padding: 45px;
  color: #2E073F;
  font-size: larger;
  font-family: cursive;
  width: 60%;
  margin: 20px;
  border: 3px solid #2E073F;
  border-radius: 25px;
}

.btn {
  background-color: #7A1CAC;
  color: white;
}

.label {
  margin-top: 35px;
  font-size: large;
  // border: 3px solid red;
}

.input {
  // border: 3px solid green;
  width: 80%;
}

.field {
  // border: 3px solid yellow;
  margin-top: 20px;
  width: 80%;
}