.x {
  margin: 1% 8% 0% 1%;
  border: 5px solid rgb(235, 211, 248);
  border-radius: 25px;
}

.y {
  margin: 1% 1% 0% 10%;
  border: 5px solid rgb(235, 211, 248);
  border-radius: 25px;
}

p {
  color: rgb(122, 28, 172);
  font-size: larger;
  font-family: cursive;
  padding: 5px;
}

h2 {
  color: rgb(46, 7, 63);
  text-align: center;
}