.form {
  margin-top: 20px;
  padding: 8px;
}

.label {
  padding: 14px;
  font-size: large;
  font-family: cursive;
  color: #7A1CAC;
  text-align: center;
}

.input {
  margin-top: 10px;
}

h4 {
  font-family: cursive;
  margin-left: 86%;
  color: #2E073F;
}

.field {
  width: 400px;
}

.group {
  margin: 30px;
  font-family: cursive;
  padding: 10px;
}

.button2 {
  padding: 10px;
  color: #2E073F;
  background-color: #EBD3F8;
}

.button1 {
  padding: 10px;
  background-color: #2E073F;
  color: #EBD3F8;
}

.date {
  margin-left: 212px;
}